*{
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    font-size: 0.14rem;
}
.header{
    width: 7.2rem;
    height: 0.6rem;
    background-color: transparent;
    position: fixed;
    z-index: 9999;
}
.header .none{
    width: 1.11rem;
    height: 0.4rem;
    float: left;
    background: url("../images/sprites.png") no-repeat 0 -2.19rem;
    background-size: 4rem 4rem;
    margin-top: 0.075rem;
    margin-left: 0.2rem;
}
.header  input{
    background: white url("../images/sprites.png") no-repeat -0.9rem -1.725rem;
    width: 4.3rem;
    height: 0.38rem;
    float: left;
    border-radius: 0.2rem 0.15rem;
    margin-left: 0.2rem;
    background-size: 3.2rem 3.2rem;
    padding-left: 0.4rem;
    color: darkgray;
    line-height: 0.38rem;
    font-size: 0.12rem;
    margin-top: 0.075rem;
}
.header a{
    color: white;
    line-height: 0.6rem;
    font-size: 0.14rem;
    float: left;
    margin-left: 0.25rem;

}
.swiper-container{
    width: 7.2rem;
    height: 3.5rem;
}
.swiper-container img{
    width: 100%;
}
.nav{
    width: 7.2rem;
    margin-top: 0.1rem;
}
.nav ul:after{content: '';display: block;width: 0;height: 0;clear: both;}
.nav ul li{
    width: 1.1rem;
    height: 1.3rem;
    float: left;
    margin: 0 0.3rem 0.3rem;
}
.nav ul li a{
    display: block;
    width: 1.1rem;
    height: 1.1rem;
    position: relative;
}
.nav ul li a img{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
}
.nav ul li p{
    text-align: center;
    font-size: 0.14rem;
}
.main{
    width: 7.1rem;
    background-color: #f5f5f5;
    padding: 0.1rem 0.05rem 0;
}
.main .miaosha{
    width: 7.1rem;
    background-color: white;
}
.main .miaosha .miaosha_top{
    padding-top: 0.06rem;
    width: 7.1rem;
}
.main .miaosha .miaosha_top>a{
    color: #df6479;
    padding-left: 0.3rem;
    background: url("../images/seckill-icon.png") no-repeat left;
    background-size: 0.25rem 0.25rem;
    margin-left: 0.2rem;
    margin-right: 0.4rem;
}
.main .miaosha .miaosha_top span{
    width: 0.3rem;
    height: 0.3rem;
    background-color: #323232;
    color: white;
    margin:0 0.03rem;
    line-height: 0.3rem;
    text-align: center;
    display: inline-block;
}
.main .miaosha .miaosha_top p{
    float: right;
}
.main .miaosha .miaosha_top p>a{
    color: black;
}
.main .miaosha .miaosha_bottom{
    width: 7.1rem;
    height: 2.2rem;
    margin-top: 0.3rem;
}
.main .miaosha .miaosha_bottom img{
    width: 1.3rem;
    height: 1.3rem;
    margin-left: 0.37rem;
    padding-right: 0.37rem;
    border-right: 0.01rem solid #e0e0e0;
}
.main .miaosha .miaosha_bottom div{
    width: 2.08rem;
    height: 2rem;
    float: left;
    margin-left: 0.25rem;
}
.main .miaosha .miaosha_bottom div p{
    text-align: center;
    color: #d44c58;
}
.main .miaosha .miaosha_bottom div span{
    text-decoration: line-through;
    display: block;
    text-align: center;
    width: 100%;
    color: #656565;
}
.main .chaoshi{
    width: 7.1rem;
    background-color: white;
    overflow: hidden;
}
.main .chaoshi p{
    width: 7.1rem;
    padding-left: 0.06rem;
    color: #646464;
    border-left: 0.1rem solid #d9515f;
    margin-left: 0.1rem;
    border-bottom: 0.01rem solid #d7d7d7;
}
.main .chaoshi .left{
    width: 3.2rem;
    height: 3.42rem;
    float: left;
}
.main .chaoshi .left img{
    width: 100%;
    height: 100%;
}
.main .chaoshi .right img{
    width: 100%;
    height: 100%;
}
.main .chaoshi .right{
    float: right;
    width: 3.49rem;
    height: 1.94rem;
    border-left:0.01rem solid #d7d7d7;
}
